<%- include('../components/head') %>

    <body data-new-gr-c-s-check-loaded="14.1055.0" data-gr-ext-installed="" class="vsc-initialized">
        <div class="page animated" style="animation-duration: 500ms;">
            <%- include('../components/header') %>
                <section class="breadcrumbs-custom-inset">
                    <div class="breadcrumbs-custom context-dark">
                        <div class="container">
                            <h2 class="breadcrumbs-custom-title">Đối tác </h2>

                        </div>
                        <div class="box-position"
                            style="background-image: url(https://www.hungthinhland.com.vn/images/bg_doitac.jpg);"></div>
                    </div>
                </section>
                <section class="section section-sm bg-default bg_dark bg_da_img" style="position:relative;">
                    <div class="container">
                        <!--<div class="oh">
                          <div class="title-decoration-lines">
                            <h6 class="title-decoration-lines-content green">ĐỐI TÁC</h6>
                          </div>
                           </div>-->


                        <p style="text-align: center; margin-left: auto; margin-right: auto; max-width: 900px;">Là nhà
                            phát triển bất động sản uy tín tại Việt Nam,<strong> Hưng Thịnh Land</strong> đã trở thành
                            đối tác tin cậy của các công ty, ngân hàng, tập đoàn hàng đầu trong nhiều lĩnh vực.
                            <strong>Hưng Thịnh Land</strong> luôn lựa chọn đồng hành cùng các đối tác uy tín để mang đến
                            những sản phẩm tốt nhất. Chúng tôi luôn chào đón mọi sự hợp tác nhằm tối ưu những cơ hội của
                            nhau, cam kết cùng đồng hành, chia sẻ kinh nghiệm và thành công cùng quý vị.</p>
                        <div class="row row-30 row-sm">
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".1s"
                                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-b92af3c32cc52149.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".2s"
                                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-f472f0158b842478.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".3s"
                                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-a9566cefd41f4392.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".4s"
                                style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-e263f616c9981821.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".5s"
                                style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-5b7442681c18c922.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".6s"
                                style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-68eabb71ca77f217.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".7s"
                                style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-b886649afadf3152.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".8s"
                                style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-577b30a9b509b752.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".9s"
                                style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-ac5c890edd108535.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".10s"
                                style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-566bf7f28a2f8242.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".11s"
                                style="visibility: visible; animation-delay: 0.11s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-8f53ad802c0cc129.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".12s"
                                style="visibility: visible; animation-delay: 0.12s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-153010c05f3af871.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".13s"
                                style="visibility: visible; animation-delay: 0.13s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-9fd8012e99ba0479.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".14s"
                                style="visibility: visible; animation-delay: 0.14s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-49fb739ddc3ad801.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".15s"
                                style="visibility: visible; animation-delay: 0.15s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-a297d38b40756915.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".16s"
                                style="visibility: visible; animation-delay: 0.16s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-8c5d69951de0b791.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".17s"
                                style="visibility: visible; animation-delay: 0.17s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-54ccf39d3e023934.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".18s"
                                style="visibility: visible; animation-delay: 0.18s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-205c1b742ec54906.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".19s"
                                style="visibility: visible; animation-delay: 0.19s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-f80bf8bf17f11657.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".20s"
                                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-65a04e9f0b0f0675.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".21s"
                                style="visibility: visible; animation-delay: 0.21s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-4b0958ec315a0976.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".22s"
                                style="visibility: visible; animation-delay: 0.22s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-d911b7d890450956.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".23s"
                                style="visibility: visible; animation-delay: 0.23s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-c784c737c2628214.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".24s"
                                style="visibility: visible; animation-delay: 0.24s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-555583198e8c3418.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".25s"
                                style="visibility: visible; animation-delay: 0.25s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-1a52f233b7068220.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".26s"
                                style="visibility: visible; animation-delay: 0.26s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-9c29e04906536183.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".27s"
                                style="visibility: visible; animation-delay: 0.27s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-c53a1d429cd07791.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".28s"
                                style="visibility: visible; animation-delay: 0.28s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-5fd382ac1e3b1593.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".29s"
                                style="visibility: visible; animation-delay: 0.29s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-43404ad3d993f892.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".30s"
                                style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-c02ad6c7e41ae870.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".31s"
                                style="visibility: hidden; animation-delay: 0.31s; animation-name: none;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-bd4b8d4b3fd8c470.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".32s"
                                style="visibility: hidden; animation-delay: 0.32s; animation-name: none;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-ab1b3527ac57a947.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".33s"
                                style="visibility: hidden; animation-delay: 0.33s; animation-name: none;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-7bd815cfd7179614.png"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".34s"
                                style="visibility: hidden; animation-delay: 0.34s; animation-name: none;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-0510f07a39d9a116.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".35s"
                                style="visibility: hidden; animation-delay: 0.35s; animation-name: none;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-1ee5c6ed24864517.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".36s"
                                style="visibility: hidden; animation-delay: 0.36s; animation-name: none;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-a9ed20c76a279895.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".37s"
                                style="visibility: hidden; animation-delay: 0.37s; animation-name: none;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-62930304e275e331.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                            <div class="col-sm-6 col-md-4 col-xl-2 wow fadeInDown" data-wow-delay=".38s"
                                style="visibility: hidden; animation-delay: 0.38s; animation-name: none;">
                                <div class="clients-classic"><img
                                        src="/client/images/hung-thinh-land-f65f854d262f6558.jpg"
                                        alt="" width="270" height="145"></div>
                            </div>
                        </div>




                    </div>
                </section>
        </div>
        <%- include('../components/footer') %>
    </body>
    <%- include('../components/script') %>