<%- include('../components/head') %>

    <body data-new-gr-c-s-check-loaded="14.1055.0" data-gr-ext-installed="" class="vsc-initialized">
        <div class="page animated" style="animation-duration: 500ms;">
            <%- include('../components/header') %>
                <section class="breadcrumbs-custom-inset">
                    <div class="breadcrumbs-custom context-dark">
                        <div class="container">
                            <h2 class="breadcrumbs-custom-title">Liên hệ </h2>

                        </div>
                        <div class="box-position"
                            style="background-image: url(https://www.hungthinhland.com.vn/images/bg_lienhe.jpg);"></div>
                    </div>
                </section>
                <section class="section section-sm bg-default">
                    <div class="container">
                        <!--<div class="oh">
              <div class="title-decoration-lines wow slideInUp" data-wow-delay="0s" >
                <h6 class=" " style="letter-spacing:0;">CÔNG TY CỔ PHẦN HƯNG THỊNH LAND</h6>
              </div>
            </div>-->

                        <div class="row row-30 justify-content-center">
                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <article class="box-contacts">
                                    <div class="box-contacts-body">
                                        <div class="box-contacts-icon fl-bigmug-line-up104">
                                            <i class="fas fa-home"></i>

                                        </div>
                                        <div class="box-contacts-decor"></div>

                                        <p class="box-contacts-link">Địa chỉ: 53 Trần Quốc Thảo, P.Võ Thị Sáu, Q.3,
                                            TP.HCM</p>
                                    </div>
                                </article>
                            </div>

                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <article class="box-contacts">
                                    <div class="box-contacts-body">
                                        <div class="box-contacts-icon fl-bigmug-line-cellphone55">
                                            <i class="fas fa-mobile-alt"></i>
                                        </div>
                                        <div class="box-contacts-decor"></div>

                                        <p class="box-contacts-link">Điện thoại: 0903 044 402<br>
                                            Hotline CSKH: 0903 044 402

                                        </p>
                                        <p class="box-contacts-link">Fax: 0903 044 402</p>
                                    </div>
                                </article>
                            </div>

                            <div class="col-sm-8 col-md-6 col-lg-4">
                                <article class="box-contacts">
                                    <div class="box-contacts-body">
                                        <div class="box-contacts-icon fl-bigmug-line-chat55">
                                            <i class="fas fa-comments"></i>
                                        </div>
                                        <div class="box-contacts-decor"></div>

                                        <p class="box-contacts-link"><a style="font-size: 15px;" href="mailto:#">Email:<br>
                                            chinh.nguyentrong.bds@gmail.com</a></p>

                                    </div>
                                </article>
                            </div>
                        </div>

                    </div>
                </section>
                <section class="section section-sm section-last bg-default text-left">
                    <div class="container">
                        <article class="title-classic">
                            <div class="title-classic-title">
                                <h3 class="green">FORM LIÊN HỆ</h3>
                            </div>
                            <div class="title-classic-text">
                                <p>Quý khách vui lòng liên hệ trực tiếp với chúng tôi, hoặc để lại thông tin theo mẫu
                                    bên dưới. Chúng tôi sẽ hồi âm trong thời gian sớm nhất. </p>
                            </div>
                        </article>
                        <form class="rd-form" method="post" name="frm_mice">
                            <input type="hidden" name="status" value="contact">
                            <div class="row row-14 gutters-14">
                                <div class="col-md-4">
                                    <div class="form-wrap">
                                        <input class="form-input form-control-has-validation" id="contact-your-name-2"
                                            type="text" name="hoten" required=""><span id="hoten"
                                            class="form-validation"></span>
                                        <label class="form-label rd-input-label" for="contact-your-name-2">Họ và
                                            tên</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-wrap">
                                        <input class="form-input form-control-has-validation" id="contact-email-2"
                                            type="email" name="email" required=""><span id="email"
                                            class="form-validation"></span>
                                        <label class="form-label rd-input-label" for="contact-email-2">E-mail</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-wrap">
                                        <input class="form-input form-control-has-validation" id="contact-phone-2"
                                            type="text" name="dienthoai" required=""><span id="dienthoai"
                                            class="form-validation"></span>
                                        <label class="form-label rd-input-label" for="contact-phone-2">Điện
                                            thoại</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-wrap">
                                        <label class="form-label rd-input-label" for="contact-message-2">Nội
                                            dung</label>
                                        <textarea
                                            class="form-input textarea-lg form-control-has-validation form-control-last-child"
                                            id="contact-message-2" name="noidung" required=""></textarea><span
                                            class="form-validation" id="noidung"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-wrap">
                                        <input type="checkbox" disabled="" checked="" class="checkbox-custom"><span
                                            class="checkbox-custom-dummy"></span>
                                        Đồng ý <a target="_blank"
                                            style="color:#f5821f !important;text-decoration: none;"
                                            href="https://www.hungthinhland.com.vn/chinhsach.html">chính sách bảo mật
                                            thông tin</a>
                                    </div>
                                </div>
                            </div>
                            <button class="button button-secondary button-pipaluk" type="submit">Gửi đi</button>
                        </form>
                    </div>
                </section>
        </div>
        <%- include('../components/footer')%>
    </body>
    <%- include('../components/script')%>