<footer class="section footer-variant-2 footer-modern context-dark">
    <div class="footer-variant-2-content">
        <div class="container">
            <div class="row row-40 justify-content-between">
                <div class="col-sm-4 col-lg-4 col-xl-4 wow fadeInDown" data-wow-delay="0s"
                    style="">
                    <div class="oh-desktop">

                        <h5 class="title_footer">CÔNG TY CỔ PHẦN HƯNG THỊNH LAND</h5>
                        <ul class="footer-contacts d-inline-block d-md-block">
                            <li>
                                <div class="unit unit-spacing-xs">
                                    <div class="unit-left">&nbsp;</div>
                                    <div class="unit-body">
                                        <p><strong>Địa chỉ:</strong> 53 Trần Quốc Thảo, P.Võ Thị Sáu,
                                            Q.3,
                                            TP.HCM</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-spacing-xs">
                                    <div class="unit-left">&nbsp;</div>
                                    <div class="unit-body">
                                        <p><strong>Điện thoại:</strong> (028) 7307 5888</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-spacing-xs">
                                    <div class="unit-left">&nbsp;</div>
                                    <div class="unit-body">
                                        <p><strong>Hotline CSKH:</strong> 1900633888</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-spacing-xs">
                                    <div class="unit-left">&nbsp;</div>
                                    <div class="unit-body">
                                        <p><strong>Fax: </strong>(028) 3924 9545</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="unit unit-spacing-xs">
                                    <div class="unit-left">&nbsp;</div>
                                    <div class="unit-body">
                                        <p><strong>Email:</strong> info@hungthinhland.com</p>
                                        <p><strong>MST</strong>: 0302588518 - Ngày cấp: 17/10/2008 <br>
                                            <strong>Nơi cấp: </strong>Sở Kế hoạch và Đầu tư TP.HCM
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeInDown" data-wow-delay=".1s"
                    style="">
                    <div class="oh-desktop">

                        <h5 class="title_footer">Kết nối với chúng tôi</h5>
                        <div>
                            <ul class="list-inline list-inline-xs ">
                                <li><a target="_blank" class="fab fa-facebook-f"
                                        href="https://www.facebook.com/HungThinhLand.Official/"></a>
                                </li>
                                <li><a target="_blank" class="fab fa-youtube"
                                        href="https://www.youtube.com/channel/UClnseIsx6YZ5JL7o0dpb6QA?view_as=subscriber"></a>
                                </li>
                            </ul>
                        </div>

                        <div class="inset-top-18">
                            <h5 class="title_footer">Hotline</h5>
                            <div>
                                <ul class="list-inline list-inline-xs">
                                    <li class="hot_line"><a class="fas fa-phone hot_line_phone"></a>1900
                                        6958</li>
                                </ul>
                            </div>

                        </div>
                        <div style="padding-top: 10px;"><a href="http://www.online.gov.vn/Home/WebDetails/71393"
                                target="_blank">
                                <img style="height: 45px !important"
                                    src="/client/images/dathongbao_bocongthuong.png"
                                    alt="" height="35"></a></div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 col-xl-4 wow fadeInDown" data-wow-delay=".2s"
                    style="">
                    <div class="oh-desktop">

                        <h5 class="title_footer">Nhận thông tin từ chúng tôi</h5>
                        <form class="rd-form" method="post">
                            <input type="hidden" name="status" value="home">
                            <div class="form-wrap">
                                <input class="form-input" id="subscribe-form-5-email" type="email" name="email"
                                    required="">
                                <label class="form-label rd-input-label" for="subscribe-form-5-email">VUI LÒNG
                                    NHẬP EMAIL</label>
                            </div>
                            <button class="button button-secondary button-ujarak" type="submit">Đăng
                                ký</button>
                        </form>

                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="footer-variant-2-bottom-panel wow fadeInUp" data-wow-delay="0s"
        style="visibility: hidden; animation-delay: 0s; animation-name: none;">
        <div class="container">

            <div class="text-center"> 
                Copyright © 2019 Hung Thinh Land. All Right Reserved | 
                <a href="https://hungthinhland.com/chinhsach">Chính sách bảo mật thông tin</a>
            </div>
        </div>
    </div>
</footer>