<header class="section page-header">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap rd-navbar-modern-wrap" style="height: 87.5938px;">
        <nav class="rd-navbar rd-navbar-modern rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed"
            data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
            data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
            data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
            data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
            data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main">
                    <div class="rd-navbar-panel">
                        <div class="rd-navbar-brand"><a class="brand" href="/"><img src="/client/images/logo.png" alt=""
                                    width="190"></a></div>
                        <button class="rd-navbar-toggle toggle-original"
                            data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>

                    </div>
                    <div class="rd-navbar-main-element">
                        <div class="rd-navbar-nav-wrap toggle-original-elements">

                            <ul class="rd-navbar-nav">
                                <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Trang chủ</a>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="/gioi-thieu">Giới
                                        thiệu</a>
                                </li>

                                <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                    <a class="rd-nav-link" href="/du-an">Dự
                                        án</a><span class="rd-navbar-submenu-toggle"></span>
                                    <span class="rd-navbar-submenu-toggle"></span>
                                    <ul class="rd-menu rd-navbar-dropdown">
                                        <%project.forEach(el=>{%>
                                            <li class="rd-dropdown-item">
                                                <a class="rd-dropdown-link" href="/du-an/<%=el.slug%>">
                                                    <%=el.title%>
                                                </a>
                                            </li>
                                            <%})%>

                                    </ul>
                                </li>



                                <li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                    <a class="rd-nav-link" href="/tin-tuc">Tin
                                        tức</a><span class="rd-navbar-submenu-toggle"></span>
                                    <span class="rd-navbar-submenu-toggle"></span>
                                    <ul class="rd-menu rd-navbar-dropdown">

                                        <li class="rd-dropdown-item">
                                            <%news.forEach(el=> {%><a href="/tin-tuc/<%=el.slug%>">
                                                    <%=el.title%>
                                                </a>
                                                <%})%>
                                        </li>
                                    </ul>
                                </li>
                                <li class="rd-nav-item"><a class="rd-nav-link" href="/doi-tac">Đối
                                        tác</a> </li>
                                <li class="rd-nav-item"><a class="rd-nav-link"
                                        href="/lien-he">Liên
                                        hệ</a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>