/* Paging -------------------------------- */
.pages {
	margin-bottom:5px;
	margin-top:50px;
}
.pages a:link, .pages a:active, .pages a:visited {
	border:1px #b9b9b9 solid;
	margin-right: 3px;
	padding:5px 10px 5px 10px;
	color:#333333;
	text-decoration:none;
}
.pages a:hover, .pages a:active, .pages #cur {
	border:1px #db7b09 solid;
	text-decoration:underline;
	color:#fff;
	padding:5px 10px 5px 10px;
	text-decoration:none;
	background-color:#db7b09;
}